<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Necromanzie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  padding>


  @for (n of userskill.necro; track n) {
    <ion-row>
        <ion-col size="2"><hr/></ion-col>
        <ion-col size="8" style=" text-align: center; font-size: 1em;">{{n.nomenecro}}</ion-col>
        <ion-col size="2"><hr/></ion-col>
    </ion-row>
    @for (pp of n.poteri; track pp) {
      <ion-row>
        @if (pp.attivo=='N') {
          <ion-col >  
            <ion-button  (click)="gonecro(pp.livello, pp.nomenecro2, n.nomenecro, pp.idnecro2)"  shape="round" size="full" color="danger" type="submit" [disabled]="(user.PScorrenti==0)||(user.PScorrenti==1 && pp.livello==5 )" >{{pp.livello}} - {{pp.nomenecro2}}</ion-button>
          </ion-col>
        }
        @if (pp.attivo=='S') {
            <ion-col style="font-size: 1.1em; text-align: center;">
              {{pp.livello}} - {{pp.nomenecro2}} (attivo)
            </ion-col>
        }
      </ion-row>
    }
  }
  

    
  
  
</ion-content>

