<!---
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="medium">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list [inset]="true">
      <ion-item>
      <ion-toggle [(ngModel)]="paletteToggle" (ionChange)="toggleChange($event)" justify="space-between">Dark Mode</ion-toggle>      >
    </ion-item>
      <ion-item>
        <ion-icon name="people-outline" size="small"></ion-icon>
        <ion-button fill="clear" >Rubrica</ion-button>
      </ion-item>
      <ion-item>
        <ion-icon name="flash" size="small"></ion-icon>
        <ion-button fill="clear">Background, contatti e alleati</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>The Legend of Zelda</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">

-->

<ion-content>

  <ion-header>
    <ion-toolbar color="medium">
      <ion-title>Rubrica</ion-title>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header> 

  <ion-list>
  @for (item of rubrica; track item) {
      <ion-item-sliding >
        <ion-item (click)="edit(item.idrubrica)">
          <ion-avatar slot="start">
            <img src="assets/img/avatar.svg" />
          </ion-avatar>
          <ion-label>
            <h2 >{{item.contatto}}</h2>
            <p c>{{item.note}}</p>
          </ion-label>
          @if (item.cell==1) {
            <ion-icon  name="call"  slot="end"></ion-icon>
          }

          @if (item.home==1) {
            <ion-icon name="home"  slot="end"></ion-icon>
          }
        </ion-item>
        <ion-item-options>
          <ion-button color="medium" (click)="edit(item.idrubrica)">
            <ion-icon name="create-outline"></ion-icon>
            Edit
          </ion-button>
        </ion-item-options>
        <ion-item-options side="start">
          <ion-button color="danger" (click)="delete(item.idrubrica)">
            <ion-icon name="trash-outline"></ion-icon>
            Delete
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>
    }
  </ion-list>

  <ion-fab  slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button  color="danger" (click)="add()"><ion-icon name="add"></ion-icon></ion-fab-button>
  </ion-fab>



  </ion-content>
<!-- 
</div> 
-->
