<ion-content>

  <ion-header>
    <ion-toolbar color="medium">
      <ion-title>Legami di Sangue</ion-title>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header> 


 <ion-item>
    <ion-text>
      <p>Accettando la vitae di un altro PG per instaurare un legame di sangue, quest'ultimo perderà 1 PS e un Punto di Forza di Volontà.</p>
      <p>Se esistono le condizioni In Game, il legame di sangue verrà inserito o - se già presente - rafforzato.</p>
      <p>Non è possibile rafforzare un legame due volte nella stessa notte.</p>
    </ion-text>
  </ion-item>


  <form (ngSubmit)="invia()" #modificaForm="ngForm">

    <ion-list >
      <ion-item >
        
        <ion-select  placeholder="Seleziona PG" label ="Possibile Domitor" labelPlacement="stacked"  [(ngModel)]="pgscelto" name="pgscelto" required>
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <!--<div slot="label">Possibile Domitor </div>-->
          @for (pg of listautenti; track pg) {
            <ion-select-option value="{{pg.id}}" >{{pg.nomepg}}</ion-select-option>
          }
        </ion-select>
      </ion-item>

    </ion-list>
  </form>
  <ion-row>
    <ion-col>
      <ion-button shape="round" expand="full" type="submit" color="danger" [disabled]="pgscelto==0" >Accetta</ion-button>
    </ion-col>
  </ion-row>

  @if (listalegami.length>0) {

      <ion-row >
        <ion-col size="3" ><hr/></ion-col>
        <ion-col size="6" style="text-align: center;">Legami esistenti</ion-col>
        <ion-col size="3" ><hr/></ion-col>
      </ion-row>

  }



  <ion-list >
    @for (item of listalegami; track item) {
      <ion-item >
        <ion-label>
          <h3 >{{item.nomepg}} - Livello {{item.livello}}</h3>
          <p >{{item.dataultima}}</p>
        </ion-label>
      </ion-item>
    }
  </ion-list>

</ion-content>
