<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Poteri di {{nomed}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  padding>

  @for (p of mypoteri; track p) {
    <ion-row>
      @if (p.attivo=='N' && p.livellopot<5 && p.idpotere !=4 ) { <!-- un potere non Animalità.3/Richiamo -->
        <ion-col >
          <ion-button  (click)="gopotere(p.nomepotere,p.livellopot,p.idpotere)"  color="danger"  shape="round" size="full" type="submit" [disabled]="user.PScorrenti==0" >{{p.livellopot}} - {{p.nomepotere}}</ion-button>
        </ion-col>
      }
      @if (p.attivo=='N' && p.livellopot==5 && p.idpotere != 15) {  <!-- un 5' potere non maesta'-->
        <ion-col >
          <ion-button  (click)="gopotere(p.nomepotere, p.livellopot, p.idpotere)"  color="danger"  shape="round" size="full" type="submit" [disabled]="user.PScorrenti<2" >{{p.livellopot}} - {{p.nomepotere}}</ion-button>
        </ion-col>
      }
      @if (p.idpotere == 15) {  <!-- maesta -->
        <ion-col >
          <ion-button  (click)="gopotere(p.nomepotere, p.livellopot, p.idpotere)"  color="danger"  shape="round" size="full" type="submit" [disabled]="user.PScorrenti<2 || user.nummaesta == 0 " >{{p.livellopot}} - {{p.nomepotere}} [{{user.nummaesta}}]</ion-button>
        </ion-col>
      }
      @if (p.idpotere == 4) {  <!-- richiamo di Animalità NON di Ascendente-->
        <ion-col >
          <ion-button  (click)="cacciaanim()" color="danger"  shape="round" size="full" type="submit" [disabled]="user.PScorrenti==user.maxps || CacciaAnimalita == 0" >{{p.livellopot}} - {{p.nomepotere}}</ion-button>
        </ion-col>
      }

      <!--  NON ESISTONO POTERI DI LIVELLO 6, MA SE CI FOSSE QUESTO E' IL CODICE DA USARE
      @if (p.attivo=='N' && p.livellopot >5 ) {
        <ion-col >
          <ion-button  (click)="gopotere(p.nomepotere,p.livellopot)"  color="danger"  shape="round" size="full" type="submit" [disabled]="user.PScorrenti<2" >{{p.livellopot}} - {{p.nomepotere}}</ion-button>
        </ion-col>
      }
      -->

      @if (p.attivo=='S') {
        <ion-col  style="font-size: 1.1em; text-align: center;">
          - {{p.livellopot}}.{{p.nomepotere}} (attivo) -
        </ion-col>
      }
    </ion-row>
  }


  <ion-modal [isOpen]="isModalOpen" (didDismiss)="setOpen(false)" >
      <ng-template>
        <ion-header>
          <ion-toolbar color="medium">
            <ion-title>Telepatia</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Chiudi</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
           <ion-item>
            <ion-label>
              <p class="ion-padding-horizontal">Il messaggio che scriverai arriverà al personaggio selezionato.</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-select  placeholder="Seleziona PG" label ="Destinatario telepatia" labelPlacement="stacked"  [(ngModel)]="pgscelto" name="pgscelto" required>
              <ion-icon slot="start" name="person-outline"></ion-icon>
              @for (pg of listautenti; track pg) {
                <ion-select-option value="{{pg.idutente}}" >{{pg.nomepg}}</ion-select-option>
              }
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Messaggio telepatico" [(ngModel)]="messaggioTelepatico" name="messaggioTelepatico"></ion-input >
          </ion-item>
          <ion-button color="danger" shape="round" type="submit" expand="full"  (click)="mandaMessaggio()" [disabled]="pgscelto==0||messaggioTelepatico.trim()=='' ">Invia</ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>









</ion-content>
