<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Skill e conoscenze</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content  padding>

  <ion-row style="align-items: center;">
    <ion-col ><hr/></ion-col>
    <ion-col size="6" style="text-align: center; font-size: 1em;">Discipline</ion-col>
    <ion-col ><hr/></ion-col>
  </ion-row>

  <ion-row >
    <ion-col size="7">Bonus attivazione</ion-col>
    <ion-col>+{{ this.user.attivazione }}</ion-col>
  </ion-row>

  @for (desc of this.userskill.discipline; track desc) {
  <ion-row>
      <ion-col size="7">{{ desc.nomedisc }}</ion-col>
      <ion-col>
        @for (item of 5|times ; track item; let ix = $index) {
          <i class="fa fa-circle-o mysmallicon " [ngClass]="{'fa-circle myred2': ix < desc.livello}"></i>
        }<br>
        @if (user.maxdisc > 5) {
          @for (item of 5|times ; track item; let ix = $index) {
              <i class="fa fa-circle-o mysmallicon " [ngClass]="{'fa-circle myred2': ix+5 < desc.livello}"></i>
          }
        }
      </ion-col>
  </ion-row>
  }

<!----   NECRO/TAUM -->

  @if (this.userskill.necro.length > 0) {
    <ion-row style="align-items: center;">
      <ion-col ><hr/></ion-col>
      <ion-col size="6" style="text-align: center; font-size: 1em;">Necromanzie</ion-col>
      <ion-col ><hr/></ion-col>
    </ion-row>
    @for ( necro of this.userskill.necro; track necro) {
      <ion-row>
        <ion-col size="7">{{ necro.nomenecro }}</ion-col>
        <ion-col>
          @for (item of 5|times ; track item; let ix = $index) {
            <i class="fa fa-circle-o mysmallicon " [ngClass]="{'fa-circle myred2': ix < necro.livello}"></i>
          }<br>
        </ion-col>
      </ion-row>
    }
  }
  @if (this.userskill.taum.length > 0) {
    <ion-row style="align-items: center;">
      <ion-col ><hr/></ion-col>
      <ion-col size="6" style="text-align: center; font-size: 1em;">Taumaturgie</ion-col>
      <ion-col ><hr/></ion-col>
    </ion-row>
    @for ( taum of this.userskill.taum; track taum) {
      <ion-row>
        <ion-col size="7">{{ taum.nometaum }}</ion-col>
        <ion-col>
          @for (item of 5|times ; track item; let ix = $index) {
            <i class="fa fa-circle-o mysmallicon " [ngClass]="{'fa-circle myred2': ix < taum.livello}"></i>
          }<br>
        </ion-col>
      </ion-row>
    }
  }

  @if (this.userskill.rituali.length > 0) {
    <ion-row style="align-items: center;">
      <ion-col ><hr/></ion-col>
      <ion-col size="6" style="text-align: center; font-size: 1em;">Rituali</ion-col>
      <ion-col ><hr/></ion-col>
    </ion-row>
    @for (rit of this.userskill.rituali; track rit) {
      <ion-row>

          <ion-col> {{ rit.nomerituale }} - lvl.{{ rit.livello }} </ion-col>

      </ion-row>
    }
  }

<!----   COMPETENZE -->

<ion-row style="align-items: center;">
  <ion-col ><hr/></ion-col>
  <ion-col size="6" style="text-align: center; font-size: 1em;">Competenze</ion-col>
  <ion-col ><hr/></ion-col>
</ion-row>



<ion-accordion-group>
@for ( sk of this.userskill.skill; track sk) {
  <ion-accordion value="{{ sk.nomeskill }}">
    <ion-item slot="header" color="light">

      <ion-label style="display: flex; justify-content: space-between;">

          {{ sk.nomeskill }}

        <div class="ion-text-end">
          @for (item of 5|times ; track item; let ix = $index) {
            <i class="fa fa-circle-o mysmallicon " [ngClass]="{'fa-circle myred2': ix < sk.livello}"></i>
          }
        </div>
      </ion-label>
    </ion-item>
    @for (ssk of sk.subskill; track ssk; let ix = $index) {
    <div class="ion-padding" slot="content" style="display: flex; justify-content: space-between;"> 
      
        -- {{ ssk.nomeskill }}

        <div class="ion-text-end">
        @for (item of 5|times ; track item; let ix = $index) {
          <i class="fa fa-circle-o mysmallicon " [ngClass]="{'fa-circle myred2': ix < ssk.livello}"></i>
        }
      </div>

    </div>
    }
  </ion-accordion>
}
  
<ion-accordion value="Varie">
  <ion-item slot="header" color="light">
    <ion-label style="display: flex; justify-content: space-between;">Altri skill</ion-label>
  </ion-item>
  @for (sk of userskill.otherskill; track sk; let ix = $index) {
    <div class="ion-padding" slot="content" style="display: flex; justify-content: space-between;">       
        {{ sk.nomeskill }}
        <div class="ion-text-end">
        @for (item of 5|times ; track item; let ix = $index) {
          <i class="fa fa-circle-o mysmallicon " [ngClass]="{'fa-circle myred2': ix < sk.livello}"></i>
        }
      </div>
    </div>
  }
</ion-accordion>
</ion-accordion-group>


@for (desc of this.userskill.skill; track desc) {
  <ion-row>
    @if (desc.tipologia == 2 ) {
      <ion-col size="7">{{ desc.nomeskill }}</ion-col>
    }
    @if (desc.tipologia == 2 ) {
      <ion-col>
        @for (item of 5|times ; track item; let ix = $index) {
          <i class="fa fa-circle mysmallicon myred2" [ngClass]="{'mywhite': ix >= desc.livello}"></i>
          }<br>
          @for (item of 5|times ; track item; let ix = $index) {
            <i class="fa fa-circle mysmallicon myred2" [ngClass]="{'mywhite': ix+5 >= desc.livello}"></i>
          }
        </ion-col>
      }
    </ion-row>
  }












  <ion-row style="align-items: center;">
    <ion-col ><hr/></ion-col>
    <ion-col size="6" style="color:#FFFFFF; text-align: center; font-size: 1.1em;">Analizza Oggetto</ion-col>
    <ion-col ><hr/></ion-col>
  </ion-row>

  <ion-row >
    <ion-col style="text-align: center;"><ion-button color="danger" shape="round" outline (click)="openbarcode()">Scan</ion-button></ion-col>
  </ion-row>

  <ion-row style="align-items: center;">
    <ion-col ><hr/></ion-col>
    <ion-col size="6" style="text-align: center; font-size: 1.1em;">Danni delle Armi</ion-col>
    <ion-col ><hr/></ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="7" >Pugno/Calcio</ion-col>
    <ion-col >{{ foripot2  }} </ion-col>
  </ion-row>
  @if (artigli == 1) {
    <ion-row>
      <ion-col size="7" >Artigli della Bestia</ion-col>
      <ion-col >{{ forza +  rissa + potenza +1 }} </ion-col>
    </ion-row>
  }
  <ion-row>
    <ion-col size="7" >Pugnale/Paletto</ion-col>
    <ion-col >{{ fomipot2 +1 }} </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="7" >Spada corta/Mazza</ion-col>
    <ion-col >{{ fomipot2 +2 }} </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="7" >Spada lunga</ion-col>
    <ion-col >{{ fomipot2 +3 }} </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="7" >Pugnale da lancio</ion-col>
    <ion-col >{{ folapot2 +1 }} </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="7" >Balestra</ion-col>
    <ion-col >{{ treti2 +1 }} </ion-col>
  </ion-row>

  <ion-row style="align-items: center;">
    <ion-col ><hr/></ion-col>
    <ion-col size="6" style="color:#FFFFFF; text-align: center; font-size: 1.1em;">Armi da Fuoco</ion-col>
    <ion-col ><hr/></ion-col>
  </ion-row>

  @if (fuoco > 0) {
    <ion-row>
      <ion-col size="7" >Revolver/Pistola leggera</ion-col>
      <ion-col >{{ trefuoco2  }} </ion-col>
    </ion-row>
  }
  @if (fuoco > 0) {
    <ion-row>
      <ion-col size="7" >Revolver/Pistola pesante</ion-col>
      <ion-col >{{ trefuoco2 +1 }} </ion-col>
    </ion-row>
  }
  @if (fuoco > 1) {
    <ion-row>
      <ion-col size="7" >Mitra leggero</ion-col>
      <ion-col >{{ trefuoco2 +2 }} </ion-col>
    </ion-row>
  }
  @if (fuoco > 2) {
    <ion-row>
      <ion-col size="7" >Mitra pesante/d'assalto</ion-col>
      <ion-col >{{ trefuoco2 +3 }} </ion-col>
    </ion-row>
  }


</ion-content>

