<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Analisi oggetti</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content  padding>


  
  <ion-row style="align-items: center;">
    <ion-col ><hr/></ion-col>
    <ion-col size="6" style="text-align: center;"><ion-button color="danger" shape="round" outline (click)="openbarcode()">Scan</ion-button></ion-col>
    <ion-col ><hr/></ion-col>
  </ion-row>



 


  <!------    MODAL  PER LA VISUALIZZAZIONE DELL'OGGETTO -->

  <ion-modal [isOpen]="isModalOpen" >
    <ng-template>
      <ion-header>
        <ion-toolbar color="medium">
          <ion-buttons slot="end">
            <ion-button (click)="cancel()">Indietro</ion-button>
          </ion-buttons>
          <ion-title>Analisi</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content >
  
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{oggetto.nomeoggetto}}</ion-card-title>
            <ion-card-subtitle>{{oggetto.descrizione}}</ion-card-subtitle>
          </ion-card-header>
  
          <ion-card-content>
            <ion-list>
            @for (xx of this.oggetto.esito ; track xx) {
                <ion-item>
                  <ion-label> <ion-text color="primary"> {{xx.motivo}} </ion-text> {{xx.descrizione}} </ion-label>               
                </ion-item>            
            }
          </ion-list>
          </ion-card-content>
        </ion-card>

        @if (this.oggetto.domanda != '') {
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{oggetto.domanda}}</ion-card-title>
            </ion-card-header>

            <div style="text-align: center; justify-content: center; display: flex; ">
            <ion-button *ngIf="rispostaselezionata != 'NO'" size="small" color="success" (click)="risposta('SI')"  [disabled]="giarisposto">SI</ion-button>
            <ion-button *ngIf="rispostaselezionata != 'SI'" size="small" color="danger" (click)="risposta('NO')" [disabled]="giarisposto">NO</ion-button>
            </div>


    
            <ion-card-content>
               @if (rispostaselezionata == 'SI' ) {  
                <ion-list>
                  <ion-item>
                    <ion-label> {{oggetto.R1}} </ion-label>               
                  </ion-item>   

                  @for (xx of this.oggetto.esitoSI ; track xx) {
                      <ion-item>
                        <ion-label> <ion-text color="primary"> {{xx.motivo}} </ion-text> {{xx.descrizione}} </ion-label>               
                      </ion-item>            
                  }
                </ion-list>
              }
              @if (rispostaselezionata == 'NO' ) {
                <ion-list>
                  <ion-item>
                    <ion-label> {{oggetto.R2}} </ion-label>               
                  </ion-item>  

                  @for (xx of this.oggetto.esitoNO ; track xx) {
                      <ion-item>
                        <ion-label> <ion-text color="primary"> {{xx.motivo}} </ion-text> {{xx.descrizione}} </ion-label>               
                      </ion-item>            
                  }
                </ion-list>
              }
            </ion-card-content>
          </ion-card>
        }

      </ion-content>
    </ng-template>
  </ion-modal>

  <!--------      FINE MODAL ------->


 




 

  

  
</ion-content>
