// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/


$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  smallgray:  #606060,
  lightdark:  #4d4d4d,
  moredark:   #202020,
  mydanger:   #e60000
);

