<ion-content>

  <ion-header>
    <ion-toolbar color="medium">
      <ion-title>Caccia</ion-title>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header> 

  <ion-item>
    <ion-text>
      <p>Si ricorda che la caccia deve essere effettuata in un'area OFF GAME.</p>
      <p>Il tempo di caccia è calcolato in base alle caratteristiche del personaggio e può essere ridotto o aumentato da alcuni pregi o difetti.</p>
    </ion-text>
  </ion-item>




  @if (this.user.incaccia==1 && metab!=0) {
    <ion-row style="align-items: center;">
      <ion-col  style="text-align: center; font-size: 1em;"><ion-text color="secondary">Tempo di Caccia ridotto per Metabolismo Efficiente</ion-text></ion-col>
    </ion-row>
  }
    @if (this.user.incaccia==1 && zanne!=0) {
    <ion-row style="align-items: center;">
      <ion-col  style="text-align: center; font-size: 1em;"><ion-text color="danger">Tempo di Caccia aumentato per Zanne Spuntate</ion-text></ion-col>
    </ion-row>
  }
  @if (this.user.incaccia==1 && organovoro!=0) {
    <ion-row style="align-items: center;">
      <ion-col  style="text-align: center; font-size: 1em;"><ion-text color="danger">Tempo di Caccia aumentato per Organovoro</ion-text></ion-col>
    </ion-row>
  }
    @if (this.user.incaccia==1 && gregge > 0) {
    <ion-row style="align-items: center;">
      <ion-col  style="text-align: center; font-size: 1em;"><ion-text color="secondary">Tempo di Caccia ridotto per Gregge</ion-text></ion-col>
    </ion-row>
  }
  @if (this.user.incaccia==1 && bs==1) {
    <ion-row style="align-items: center;">
      <ion-col  style="text-align: center; font-size: 1em;"><ion-text color="secondary">Tempo di Caccia dimezzato per Bacio Selvaggio</ion-text></ion-col>
    </ion-row>
  }

  
  @if (this.user.incaccia==1) {
    <ion-row style="align-items: center;">
      <ion-col  style="text-align: center; font-size: 1em;">Tempo di Caccia Restante</ion-col>
    </ion-row>
  }
  @if (this.user.incaccia==1) {
    <ion-row style="align-items: center;">
      <ion-col style="text-align: center; font-size: 2.1em; font-family: 'MyFont';">{{min_string}}:{{secondi_string}}</ion-col>
    </ion-row>
  }
  @if (this.user.incaccia==0 && this.statocaccia==2) {
    <ion-row style="align-items: center;">
      <ion-col style="text-align: center; font-size: 1em;">Caccia terminata!</ion-col>
    </ion-row>
  }


  @if (this.user.incaccia== 0 ){
    <ion-row >  
        <ion-col >
          <ion-button color="danger"  (click)="iniziocaccia()"  shape="round" expand="full" type="submit" [disabled]="this.user.PScorrenti>=this.user.maxps" >Inizia la caccia</ion-button>
        </ion-col>
    </ion-row >
  }

  @if (this.user.incaccia== 0 && this.bspossibile==1 ){
    <ion-row >  
        <ion-col >
          <ion-button color="danger"  (click)="iniziocaccia_bs()"  shape="round" expand="full" type="submit" [disabled]="this.user.PScorrenti>=this.user.maxps" >Vai in Caccia Selvaggia</ion-button>
        </ion-col>
    </ion-row >
  }


  <ion-row >
    @if (this.user.incaccia == 1 && this.statocaccia == 1) {
      <ion-col >
        <ion-button color="danger"  (click)="cancellacaccia()"  shape="round" expand="full" type="submit"  >Cancella la caccia</ion-button>
      </ion-col>
    }

  </ion-row >

</ion-content>
