<ion-header>

  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab5"></ion-back-button>
    </ion-buttons>
    <ion-title>Taumaturgie</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content class="master" color="dark" padding>
  @for (p of user.taum; track p) {
    <ion-row>
      <ion-col size="2"><hr/></ion-col>
      <ion-col size="8" style="color:#FFFFFF; text-align: center; font-size: 1.1em;">{{p.nometaum}}</ion-col>
      <ion-col size="2"><hr/></ion-col>
      @for (pp of p.poteri; track pp) {
        <ion-col size="12">
          @if (pp.idtaum2!=5) {
            <ion-button  (click)="gotaum(pp.livello, pp.nometaum2, p.nometaum)"  class="submit-btn2" shape="round" color="danger" size="full" type="submit" [disabled]="(user.fulldata.PScorrenti==0)||(user.fulldata.PScorrenti==1 && pp.livello==5 )" >{{pp.livello}} - {{pp.nometaum2}}</ion-button>
          }
          @if (pp.idtaum2==5) {
            <ion-button  (click)="gofurto()" class="submit-btn2" shape="round" color="danger" size="full" type="submit" [disabled]="(user.fulldata.psvuoti==0)||(FurtoVitae==0 )" >{{pp.livello}} - {{pp.nometaum2}}</ion-button>
          }
        </ion-col>
      }
    </ion-row>
  }
</ion-content>
