<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Taumaturgie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  padding>



  @for (t of userskill.taum; track t) {
    <ion-row>
      <ion-col size="2"><hr/></ion-col>
      <ion-col size="8" style="text-align: center; font-size: 1em;">{{t.nometaum}}</ion-col>
      <ion-col size="2"><hr/></ion-col>
    </ion-row>
    @for (pp of t.poteri; track pp) {
      <ion-row>
        
      @if (pp.idtaum2!=5) {
        <ion-col size="12">
        <ion-button  (click)="gotaum(pp.livello, pp.nometaum2, t.nometaum, pp.idtaum2)"  shape="round" color="danger" size="full" type="submit" [disabled]="(user.PScorrenti==0)||(user.PScorrenti==1 && pp.livello==5 )" >{{pp.livello}} - {{pp.nometaum2}}</ion-button>
        </ion-col>
      }
      @if (pp.idtaum2==5) {
        <ion-col size="12">
        <ion-button  (click)="gofurto()"  shape="round" color="danger" size="full" type="submit" [disabled]="(user.PScorrenti==user.maxps)||(FurtoVitae==0 )" >{{pp.livello}} - {{pp.nometaum2}}</ion-button>
        </ion-col>
      }
      </ion-row>
    }
  }
</ion-content>
