<ion-content >
  <ion-header>
    <ion-toolbar color="medium">
      <ion-title>Annotazioni</ion-title>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header> 



<ion-content>

	<ion-item >
      <ion-textarea label="Inserisci le tue note" labelPlacement="floating" placeholder="Scrivi qualcosa" type="text" rows="20" [(ngModel)]="this.user.note" name="newaanotazioni" autofocus ></ion-textarea>
	</ion-item>



<ion-footer >	
	<div >
		<ion-button id="modif-note" color="danger" shape="round" expand="full" type="submit" (click)="modifica()" [disabled]="!noteModificate()">Modifica</ion-button>
	</div>
</ion-footer>		
</ion-content>
	


