<ion-content >
  <ion-header>
    <ion-toolbar color="medium">
      <ion-title>Morte Ultima</ion-title>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header> 

    <ion-card>
      <ion-card-header>
        <ion-card-title>Attenzione</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Premere <ion-text color="primary">solo se il PG ha raggiunto la Morte Ultima</ion-text>. La scheda non verrà cancellata nè verranno modificati i dati.<br>
        La Narrazione verrà però avvertita dell'evento, così come saranno avvisati tutti coloro con i quali il PG ha un legame di sangue (come Domitor).
        Tali legami saranno automaticamente recisi.

      </ion-card-content>
    </ion-card>

  
  <form (ngSubmit)="morte()" #registerForm="ngForm" >
  <ion-button shape="round" size="full" color="danger" type="submit" >Conferma Morte Ultima</ion-button>
  </form>

</ion-content>